@import url('fonts.css');

/* NULL STYLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/* FONTS:
    font-family: 'Inter', sans-serif; 
    font-family: 'GoodDog-New';
    font-family: 'Effra';
    font-family: 'Roboto', sans-serif;*/

/* =========================== */

.none {
    display: none;
}

.wrapper {
    width: 100%;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 400;
}

.header {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    max-width: 1320px;
    margin: 0 auto;
    padding: 30px 20px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.header__logo span {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    user-select: none;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}
.header__list li {
    display: flex;
    align-items: center;
}

.header__list a {
    display: inline-block;
    font-size: 18px;
    line-height: 100%;
}

.h__list__item {
    display: inline-block;
    margin: 0 40px 0 0;
}

.h__list__login {
    margin: 0 40px 0 183px;
}

.h__list__item, .h__list__login {
    transition: 0.3s;
}

.h__list__item:hover, .h__list__login:hover {
    color: #dbdbdb;
}

.h__list__register {
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #000000;
    padding: 12px 32px;
    transition: background 0.3s;
}

.h__list__register:hover {
    background: #000;
    color: #fff;
}

.header__content {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px 70px;
}

.h__content__title {
    text-align: center;
}

.h__content__title h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 112%;
}

.content__title {
    margin: 100px 0 24px;
}

.c__title__sub {    
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 150%;
    color: #8B8B8B;
}

.c__title__get {
    position: relative;
    display: inline-block;
    background: #A8FF35;
    border-radius: 40px;
    padding: 16px 32px;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    transition: background 0.3s;
}

.c__title__get:hover {
    background: #7ec91c;
}

.c__title__get::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 0;
    right: -120px;
    background: url('../img/get.svg') no-repeat;
    cursor: auto;
}

.h__content__link {
    max-width: 1080px;
    height: 180px;
    margin: 100px auto 80px;
    position: relative;
}

.c__link__item1,.c__link__item2, .c__link__item3, .c__link__item4, .b__item {
    display: flex;
    align-items: center;
    max-width: 350px;
    height: 90px;
    padding: 0 42px;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23.8065px;
    line-height: 28px;
    box-shadow: 0 0 50px #000;
}

.item1__img {
    margin: 0 16px 0 0;
}


.c__link__item1 {
    transform: rotate(-4deg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

.c__link__item2 {
    transform: rotate(2deg);
    position: absolute;
    left: 202px;
    bottom: 20px;
    z-index: 3;
}

.c__link__item3 {
    transform: rotate(-2deg);
    position: absolute;
    right: 272px;
    top: 0;
    z-index: 2;
}

.c__link__item4 {
    transform: rotate(4deg);
    position: absolute;
    right: 0;
    bottom: 15px;
}

/* MAIN +++========================================== */

.main {
    width: 100%;
}

.main__block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 742px;
    background-color: #A8FF35;
}

.m__block1__sect {
    max-width: 894px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block1__item {
    position: relative;
}

.block1__item::before {
    content: '';
    display: block;
    position: absolute;
    left: -125px;
    top: 70px;
    width: 100px;
    height: 100px;
    background: url('../img/block1.svg') no-repeat;
}

.block1__item::after {
    content: '';
    display: block;
    position: absolute;
    right: -125px;
    top: 50px;
    width: 100px;
    height: 100px;
    background: url('../img/block1-3.svg') no-repeat;
}

.m__block1__sect h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
}

.block1__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 200px;
    margin: 60px 0;
    padding: 0 80px;
    background-color: #F5F5F5;
    border-radius: 16px;
}

.block1__text {
    max-width: 666px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

.b__item {
    position: relative;
    box-shadow: none;
    background: #030303;
}


.b__item__block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 90px;
    background: linear-gradient(270deg, #030303 53.65%, rgba(3, 3, 3, 0.6) 100%);
}

.main__block2 {
    display: flex;
    justify-content: center;
    min-height: 584px;
}

.m__block2__sect {
    max-width: 1232px;
    padding: 0 20px;
    min-height: 304px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin: 140px 0 0;
}

.m__block2__sect span {
    color: #ADADAD;
}

.main__block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1012px;
}

.m__block3__sect {
    max-width: 1200px;
    padding: 0 20px;
    min-height: 732px;
    text-align: center;
}

.b__sect__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    margin: 0 0 80px;
}

.b__sect__brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sect__brand {
    width: 298px;
    height: 152px;
} 

.s__brands__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 266px;
    height: 120px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin: 0 0 32px;
    cursor: pointer;
    transition: filter 0.3s;
}


.s__brands__block:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.main__block4 {
    display: flex;
    justify-content: center;
    min-height: 2209px;
    background: #FAFAFA;
}

.m__block4__sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    padding: 0 20px;
    text-align: center;
}


.b4__sect__title {
    margin: 140px 0 80px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
}

.b4__sect__platform {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 77px;
}

.platform__link {
    display: inline-block;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    transition: filter 0.2s;
}

.platform__link:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.platform__active {
    background: #A8FF35;
}

.tweet__img {
    max-width: 800px;
}

.m__block4__sect .tweet1 {
    margin: 0 0 40px;
    width: 100%;
    height: auto;
}

.tweet__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    background: #000000;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 16px 32px;
    margin: 40px 0 0;
    transition: 0.3s;
}

.tweet__link:hover {
    background: #fff;
    color: #000;
    padding: 16px;
}
